body {
	background: #ffffff;
	margin-right: auto;
	margin-left : auto;
}


.content {
	border: solid 2px black ;
	width: 400px;
	height: 290px;
	padding: 40px 20px;
	text-align:center;
}


#content1 {
	position: absolute;
	z-index: 2;
	top: 60px;
	left: 0px;
	right: 0px;
	margin: auto;
}

#content2 {
	position: absolute;
	visibility: hidden;
	z-index: 1;
	top: 60px;
	left: 0px;
	right: 0px;
	margin: auto;
}

#frame {

	position: relative;
	border: solid 1px;
	width: 150px;
	height: 150px;
	margin: auto;
	background-color: white;
	dispay: block;

}

.level {

	border: solid 2px gray ;
	margin: 2px 2px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	-webkit-user-select: none;
}

.level:hover {
	background-color: #B2E8FF;
}


.panel {

	position: absolute;
	border: solid 1px;
	width: 48px;
	height: 48px;
	background-color: skyblue;
	text-align: center;
	line-height: 48px;
	-webkit-user-select: none;

}

.point {
	cursor: pointer;
}

.point:hover {
	opacity: 0.9;
}



.fade1{

	animation-name:fade-in;
	animation-duration:1.2s;
	animation-timing-function: ease-out;
	animation-iteration-count:1; 
	animation-direction:normal; 
	animation-fill-mode: forwards; 
}


@keyframes fade-in {
	0% {opacity: 0}
	100% {opacity: 1}
}



.fade2{

	animation-name:fade-out;
	animation-duration:1.2s;
	animation-timing-function: ease-out;
	animation-iteration-count:1; 
	animation-direction:normal; 
	animation-fill-mode: forwards; 
}

@keyframes fade-out {
	0% {opacity: 1}
	100% {opacity: 0}
}




